# finpay-client (load generator / demo client) - example env

# Target
FINPAY_TARGET=finpay-api:8080

# Client identity
FINPAY_CLIENT_ID=client-a
FINPAY_KEY_ID=k1

# Private key file (Secret mount path)
FINPAY_PRIVATE_KEY_FILE=/etc/finpay/private.pem

# Demo options
FINPAY_DURATION=5m
FINPAY_CONCURRENCY=20
FINPAY_RETRY_STORM=true

# OpenTelemetry
OTEL_SERVICE_NAME=finpay-client
OTEL_EXPORTER_OTLP_ENDPOINT=otelcol-gateway:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=dev
